

.header {
	height: 130px;
	padding-top: 23px;
	background-image: url("img/headerBackgroundgreen.jpg");
	background-size: cover;

	h1 {
		display:inline-block;
		margin: 0px;
	}

	

}

.addTitle {
	display:block;
	width: 100%;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
	padding-bottom: 0px;
	@media (min-width:$mamaBear) {
		font-size: 3em;
	}
}

.includeTitle {
	height: 150px;

	@media (min-width:$mamaBear) {
		height: 175px;
	}
}



.logo {
	background-image: url("img/logoWhite.svg");
	background-image: url("img/logoWhite.png");
	 background-size: 53px 197px;
  margin: 0 auto;
  height: 53px;
  width: 197px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 1em;
  margin-top: 0px;

  @media (min-width:$mamaBear) {
		
		height: 80px;
		width: 296px;
	}
}

.includeTitleLogo {
	
	height: 40px;
	width: 148px;

	 @media (min-width:$mamaBear) {
		
		height: 53px;
		width: 197px;
	}
}

.container-fluid {
	padding: 0px;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.contact {
	display:inline-block;

	a {
		color: $white;
	}

	padding-left: 0px;

	li {
		list-style-type: none;
		text-align: right;
		line-height: 2em;
		font-size: 1em;
		@media (min-width:$mamaBear) {
		font-size: 1.25em;
		}
	}
	float:right;
}




