.hero {
	background-image: url("img/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	background-size: 563px 300px;
	position: relative;
	p {
		font-size: 1.5em;
		font-weight: normal;
		color: $white;
		// width: 90%;
		margin: 0 auto;
		position: absolute;
		bottom: 24px;
		left: 10%;
		right: 10%;
		line-height: 2em;
	}
}


