.servicesIntro {
	padding-top: 2em;
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 1.5em;


	h3 {
		color: $green;
		text-transform: uppercase;
		line-height: 2em;
		font-size: 2em;
		font-weight: bold;
	}

	p {
		font-size: 1em;
		line-height: 2em;
	}
}

.galleryWrapper {
	background-color: $grey;
	// border: 2px solid green;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0 auto;
	width: 90%;
	text-align: center;
}


#post-2 {
	background-color: $grey;
}

#post-11 {
	background-color: $grey;
}
#post-120 {
	background-color: $grey;
}


#huge_it_gallery_container_1 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	// border: 1px solid red;
	margin-top: 2em;
	margin-bottom: 2em;
}

#huge_it_gallery_container_2 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	// border: 1px solid red;
	margin-top: 2em;
	margin-bottom: 2em;
}


.twentytwenty-overlay {
	display:none;
}

.twentytwenty-after-label {
	display:none;
}

.twentytwenty-before-label {
	display:none;
}
.twentytwenty-container {
	width: 400px;
	display:inline-block;
	margin-bottom: 2em;

}

.twentytwenty-wrapper {
	width: 400px;
	display:inline-block;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2em;
}

// .twentytwenty-horizontal {
// 	display:none;
// }


// .galleryWrap {
// 	border: 2px solid red;
// 	width: 90%;
// 	margin: 0 auto;
// }