.servicesIntro {
	padding-top: 2em;
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 1.5em;
}

.galleryWrapper {
	background-color: $grey;
	padding-top: 1em;
	padding-bottom: 1em;
}

.gallery {
	padding-top: 2em;
	width: 90%;
	margin: 0 auto;
	overflow:hidden;
	text-align: left;
	// border: 2px solid green;
}

.res {
	position: relative;
	background-size: 1200px 730px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100%;
	height: 183px;
	// width: 300px;
	text-align:center;
	margin-bottom: 1em;

	@media (min-width:$babyBear) {
	width: 48%;
	margin-right: 1%;

	}	

	@media (min-width:$mamaBear) {
	width: 32%;
	margin-right: 1%;

	}

	@media (min-width:$papaBear) {
	width: 23%;
	margin-right: 1%;

	}

	@media (min-width:$grandpaBear) {
	height: 225px;

	}

}

.res1 {
	background-image: url("img/galleryRes1.jpg");
	
}

.res2 {
	background-image: url("img/galleryRes2.jpg");
	
}

.res3 {
	background-image: url("img/galleryRes3.jpg");
	
}

.res4 {
	background-image: url("img/galleryRes5.jpg");
	
}

.res5 {
	background-image: url("img/galleryRes4.jpg");
	
}

.res6 {
	background-image: url("img/galleryRes6.jpg");
	
}

.res7 {
	background-image: url("img/galleryRes7.jpg");
	
}

.cover {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: black;
	opacity: .7;
}

.cover::after {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	
	color:white;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	line-height: 183px;
	text-transform: uppercase;
}

.cover1::after {
	content:"Homes & Vinyl Siding";
}


.cover2::after {
	content:"Concrete";
}

.cover3::after {
	content:"Roofs";
}

.cover4::after {
	content:"Brick";
}

.cover5::after {
	content:"Gutter: Interior";
}

.cover6::after {
	content:"Patios & Pooldecks";
}

.cover7::after {
	content:"Other";
}



#post-2 {
	background-color: $grey;
}


